/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 20, 2025, 3:55:13 PM
    Author     : jeovani quintanilla
*/ 

/*CSS for SignIn Screen*/
/* Images */
#SignIn #logo{
}

#SignIn #logo2{
}

/* Rectangle */
.SignIn > #signIn-up_rect{ 
    -fx-fill: #144772;
}
.SignIn > #signIn-up_rect2{ 
    -fx-fill: #DCE3EB;
}

/* Labels on Signin*/
#SignIn #welcome_label {
    -fx-font-family: "Arial";
    -fx-font-align-self: center;
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-translate-x: -60px;
}
#SignIn #signin_label {
    -fx-font-family: "Arial";
    -fx-translate-y: 35px;
}
#SignIn #signup_label {
    -fx-font-family: "Arial";
}
#SignIn #signup_link {
    -fx-font-family: "Arial";
    -fx-text-fill:  #253C5E;
    -fx-font-weight: bold;
}

/*CSS for SignUp Screen*/
/* Rectangle */
.SignIn > #signup_rect{ 
    -fx-fill: #144772;
}
.SignIn > #signup_rect2{ 
    -fx-fill: #DCE3EB;
}
#create_account {
    -fx-font-family: "Arial";
    -fx-font-align-self: center;
    -fx-font-size: 25px;
    -fx-font-weight: bold;  
}
#signin_label {
     -fx-font-family: "Arial";
}
#signin_link {
    -fx-font-family: "Arial";
    -fx-text-fill:  #253C5E;
    -fx-font-weight: bold;
}


/* targets by id */
#name_label {
    -fx-font-family: "Eras Bold ITC";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-translate-x: -55px;
}

/* targets all elements only */
/* All AnchorPanes */
.AnchorPane{ -fx-background-color: #ffffff; }

/*All  Textfields */
.text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #253C5E transparent;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: #253C5E;
    -fx-prompt-text-fill: derive(#253C5E, -30%);
    -fx-focus-color: #253C5E;
}

/* All Buttons */
.button {
    -fx-font-family: "Arial";
    -fx-background-color: #253C5E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}

/* Hover effect */
.button:hover {
    -fx-background-color: #345379; 
}